/*@font-face {
    font-family: "sfreg";
    src: url(font\SFPro-Regular.ttf) format("truetype"), local("SF Pro Display Regular");
}

@font-face {
    font-family: "sfsemibold";
    src: url(font\SF-Semibold.otf) format("opentype"), local("SF Pro Display Semibold");
}

@font-face {
    font-family: "sfbold";
    src: url(font\SF-Bold.otf) format("opentype"), local("SF Pro Display Bold");
}
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    color: #0D0C22;
}

.container {
    max-width: 500px;
    margin: auto;
    margin-top: 60px;
    padding: 18px;
}

img.pp{
    border-radius: 50%;
    width: 84px;
    height: 81px;
    margin-bottom: 35px;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 19px;
}

.intro {
    margin-bottom: 25px;
}

.button {
    background-color: #EEEEEE;
    border: none;
    border-radius: 6px;
    color: #0D0C22;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 61px;
}

.button:hover {
    background-color: rgb(222, 222, 222);
    /*box-shadow: 2px 2px 8px rgb(180, 180, 180);*/
}

a.email {
    color: #0D0C22;
    text-decoration: none;
    border-bottom: 2px dashed transparent;
    padding-bottom: 8px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

a.email:hover {
    padding-bottom: 1px;
    border-style: none none dashed;
    border-width: 2px;
    border-color: #0D0C22;
}

.toplink {
    margin-bottom: 16px;
}

.midlink {
    margin-bottom: 145px;
}

.link {
    text-decoration: none;
    line-height: 23px;
    color: #0D0C22;
    border-bottom: 2px dashed transparent;
    padding-bottom: 8px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

a.link:hover {
    padding-bottom: 1px;
    border-style: none none dashed;
    border-width: 2px;
    border-color: #0D0C22;
}

.link:visited {
    color: #0D0C22;
}

.made {
    font-size: 12px;
    margin-bottom: 6px;
}

marquee {
    font-size: 12px;
    background-color: rgb(238, 238, 238);
    padding: 4px;
}

@media only screen and (min-width: 768px) {
    .made {
        text-align: center;
    }
}