/*@font-face {
    font-family: "sfreg";
    src: url(font\SFPro-Regular.ttf) format("truetype"), local("SF Pro Display Regular");
}

@font-face {
    font-family: "sfsemibold";
    src: url(font\SF-Semibold.otf) format("opentype"), local("SF Pro Display Semibold");
}

@font-face {
    font-family: "sfbold";
    src: url(font\SF-Bold.otf) format("opentype"), local("SF Pro Display Bold");
}
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    color: #0D0C22;
    
    background-color: var(--bg-color);
    color: var(--font-color);
}

.container {
    max-width: 500px;
    margin: auto;
    margin-top: 60px;
    padding: 18px;
}

img.pp{
    border-radius: 50%;
    width: 84px;
    height: 81px;
    margin-bottom: 35px;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;

    color: var(--font-sub);
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 19px;
}

.intro {
    margin-bottom: 25px;

    color: var(--font-sub);
}

.button {
    background-color: #EEEEEE;
    border: none;
    border-radius: 6px;
    color: #0D0C22;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 61px;

    background-color: var(--button-color);
    color: var(--font-color);
}

.button:hover {
    background-color: rgb(222, 222, 222);

    background-color: var(--button-hov);
    /*box-shadow: 2px 2px 8px rgb(180, 180, 180);*/
}

a.email {
    color: #0D0C22;
    text-decoration: none;
    border-bottom: 2px dashed transparent;
    padding-bottom: 8px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-weight: 600;

    color: var(--font-link);
}

a.email:hover {
    padding-bottom: 1px;
    border-style: none none dashed;
    border-width: 2px;
    border-color: #0D0C22;

    border-color: var(--font-link);
}

.toplink {
    margin-bottom: 16px;
    color: var(--font-sub);
}

.midlink {
    margin-bottom: 145px;
}

.link {
    text-decoration: none;
    line-height: 23px;
    color: #0D0C22;
    border-bottom: 2px dashed transparent;
    padding-bottom: 8px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;

    color: var(--font-link);
}

a.link:hover {
    padding-bottom: 1px;
    border-style: none none dashed;
    border-width: 2px;
    border-color: #0D0C22;

    border-color: var(--font-link);
}

.link:visited {
    color: #0D0C22;
    
    color: var(--font-link);
}

.made {
    font-size: 12px;
    margin-bottom: 6px;
}

marquee {
    font-size: 12px;
    background-color: rgb(238, 238, 238);
    padding: 4px;
    background-color: var(--marqu);
}




:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;

    --font-color: #0D0C22;
    --bg-color: #fff;
    --font-sub: #0D0C22;
    --font-link: #0D0C22;
    --button-color: #EEEEEE;
    --button-hov: rgb(222, 222, 222);
    --marqu: rgb(238, 238, 238);
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;

    --font-color: #f2f2f2;
    --bg-color: #000000;
    --font-sub: #8E8E93;
    --font-link: #007AFF;
    --button-color: #2C2C2E;
    --button-hov: rgb(37, 37, 39);
    --marqu: #2C2C2E;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
  
  }
  .strong {
    margin-right: 7px;
    font-size: 12px;
  }
  .theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 36px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 14px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 14px;
  }
  
  input:checked + .slider {
    background-color: #007AFF;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media only screen and (min-width: 768px) {
    .made {
        text-align: center;
    }
    .theme-switch-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

